<a href="/"><img src="/images/mirlinda-pacolli-logo.png" alt="Mirlinda Pacolli logo"></a>
<nav>
  <button class="hamburger">&#9776;</button>
  <ul class="menu">
    <li><a href="/project">Project</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact-me">Contact me</a></li>
  </ul>
</nav>